<% wrap_layout  :page do %>
<div class="pack" lang="<%= current_article.lang %>">
  <div class="article-header">
    <% cat = current_article.data.category %>
    <%= link_to "#{cat}".capitalize, "/#/#{cat}" %>
    <h1 class="article-headline"><%= titleize current_article.title %></h1>
    <% if current_page.data.lead %>
    <span class="lead"><%= current_page.data.lead %></span>
    <% end %>
  </div>
  <div layout="row"> 
    <div class="col-read" flex-sm>
      <article class="article-content">
        <%= yield %>
      </article>
    </div>
    <aside class="col-side" hide-sm hide-md flux>
      <div class="article-info">
        <%= current_article.date.strftime('%b. %e, %Y') %>
      </div>
      <div class="article-info">
        Tags: 
        <% current_article.tags.each_with_index do |(tag, articles), i| %>
          <%= "|" if i != 0 %>
          <%= link_to "#{tag}", tag_path(tag) %>
        <% end %>
      </div>

      <div class="table-of-contents" id="toc" data-spy="affix" data-offset-top="300" data-offset-bottom="200">
      </div>
    </aside>
  </div>
</div>
<% content_for :assets do %>
<%= javascript_include_tag "article" %>
<% end %>
<% end %>