<% wrap_layout  :page do %>
<div class="pack" lang="<%= current_article.lang %>">
  <div class="article-header">
    <% current_article.tags.each_with_index do |(tag, articles), i| %>
          <%= "|" if i != 0 %>
          <%= link_to "#{tag}".capitalize, tag_path(tag) %>
    <% end %>
    <h1 class="article-headline"><%= titleize current_article.title %></h1>
    <% if current_page.data.lead %>
    <span class="lead"><%= current_page.data.lead %></span>
    <% end %>
  </div>
  <div layout="row"> 
    <div class="col-read" flex-sm>
      <article class="article-content">
        <%= yield %>
      </article>
    </div>
    <aside class="col-side" hide-sm hide-md>
      <div class="table-of-contents" id="toc" data-spy="affix" data-offset-top="150" data-offset-bottom="200">
      </div>
    </aside>
  </div>
</div>
<% end %>


