<!doctype html>
<html lang="<%= current_page.metadata[:options][:lang] || current_page.data.lang %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Nos et Mutamur" %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <%= javascript_include_tag "main" %>
  </head>
  <body layout="column" class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
