<md-toolbar class="site-header" class="md-default-theme" ng-controller="HeaderCtrl">
<div class="pack">
  <div class="md-toolbar-tools">
    <%= link_to 'Nos et Mutamur', '/index.html', :class => 'home-button' %>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <div class="header-menu" collapse="isCollapsed" layout-sm="column">
        <md-button href="<%= "/#{t :lang}/reseach.html" %>">Research</md-button>
        <md-button href="<%= "/#{t :lang}/about.html" %>">About</md-button>
        <% alturl = translation(current_page.destination_path) %>
        <% if alturl %>
        <md-button class="textasis" href="<%= alturl %>">
            <md-tooltip md-delay="200"><%= t :theotherlangfull%></md-tooltip>
            <md-icon md-font-set="material-icons" ng-cloak>public</md-icon></md-button>
        <% end %>
    </div>
    <button hide show-sm md-menu-origin class="lines-button x" type="button" role="button" aria-label="Toggle Navigation" ng-click="isclose = !isclose; isCollapsed= !isCollapsed"  ng-class="{close: isclose}">
            <span class="lines"></span>
        </button>
    </div>
</div>
</md-toolbar>